.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  position: relative;
  width: 502px;
  height: 502px;
  border: 2px solid black;
}

.score {
  max-width: 150px;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 20px;
}

.content{
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
  justify-content: center;
}