.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  position: relative;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.snake {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}

.score {
  max-width: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.content {
  height: calc(100vh - 128px);
}