.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  position: relative;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.snake {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid #fff;
}