.settings-music,
.settings-sound {
  display: flex;
  align-items: center;
}

.settings-item__title {
  text-align: center;
  font-size: 20px;
}

.settings-music__slider,
.settings-sound__slider {
  flex-grow: 1;
}

.settings-snake-type,
.settings-snake-speed {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}